<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="https://glitch.com/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Cloudinary API</title>

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" /> 
   <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    
    <script src="script.js"></script>
  </head>
  <body>
    
    <h1>
      {{ greeting }}
    </h1>
    <p>
      Try a Cloudinary API
      <ul>
        <li>        
          resources: https://&lt;API_KEY&gt;:&lt;PI_SECRET&gt;@api.cloudinary.com/v1_1/%ltCLOUD_NAME>/resources/image
        </li>
        
    </ul>
    </p>
  
    
    <div>
      

    <form id="cld-url">
      <div>
        <input name="url" placeholder="Enter URL" size="50" />
        <br>
        <input type="password" placeholder="Paste CLOUDINARY_URL" size="50"/>
        <br>
        <button type="submit">
          Submit
        </button>
      </div>
    
    </form>
          </div>
    
    <div id="data">
      
    </div>
        
  </body>
</html>
