<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="https://glitch.com/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Cloudinary API</title>

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" /> 
   <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    
    <script src="script.js"></script>
  </head>
  <body>
        <nav><a href="/">APIs and URLs</a></nav>

    <h1>
      {{ greeting }}
    </h1>
    <p>
      Try a Cloudinary API
      <ul>
        <li>        
          resources: https://API_KEY:API_SECRET@api.cloudinary.com/v1_1/CLOUD_NAME/resources/image
        </li>
        
    </ul>
    </p>
  
    
    <div>
      

    <form id="cld-url">
      <div>
        <input name="url" placeholder="Enter URL" size="100" value="https://API_KEY:API_SECRET@api.cloudinary.com/v1_1/CLOUD_NAME/resources/image" />
        <br> 
        <input name="cldurl" type="password" placeholder="Paste CLOUDINARY_URL" value="CLOUDINARY_URL=cloudinary://apikey:apisecret@cloudname" size="100"/>
        <br>
        <button type="submit">
          Submit
        </button>
      </div>
    
    </form>
          </div>
    
    <div id="data">
      
    </div>
        
  </body>
</html>
