<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="https://glitch.com/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>APIs and URLs</title>

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" /> 
   <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="script.js"></script>
  </head>
  <body>
    <nav><a </nav>
    
    <h1>
      {{ greeting }}
    </h1>
    <p>
      Try these API's
      <ul>
        <li>        dungeons and dragons: https://www.dnd5eapi.co/api/spells﻿
</li><li>
        pokemon:https://pokeapi.co/api/v2/pokemon/?limit=811

        </li>
        <li>star wars: https://swapi.dev/api/people/?format=json
</li>

    </ul>
    </p>
  
     <p>
      Try these URL's
      <ul>
        <li>        Cloudinary: https://www.cloudinary.com
</li><li>
        Amazon: https://www.amazon.com

        </li>
        <li>Google: https://www.google.com
          
</li>

    </ul>
    </p>
    <div>
      

    <form id="url-submit">
      <div>
        <input name="url" placeholder="Enter URL" size="50" />
        <button type="submit">
          Submit
        </button>
      </div>
    
    </form>
          </div>
    
    <div id="data">
      
    </div>
        
  </body>
</html>
